:root {
  --color-bg: rgba(21, 8, 17, 1);
  --color-barbg: rgba(38, 8, 28, 1);
  --color-light: rgba(12, 186, 186, 1);
  --color-medium: rgba(1, 186, 239, 1);
  --color-dark: rgba(56, 0, 54, 1);
  --color-bar: #593b68;
  --color-bar2: #79518e;
  --page-spacing: 10px;
}
@font-face {
    font-family: 'Fontin SmallCaps';
    src: url('fonts/Fontin-SmallCaps.woff2') format('woff2'),
        url('fonts/Fontin-SmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  background-color: var(--color-bg);
  justify-content: center;
  display: flex;

}
.BarGraph {
  display: grid;
  font-family: 'Fontin SmallCaps';
  background-color: var(--color-barbg);
  margin-left: var(--page-spacing);
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 1;
  grid-column-gap: 5px;
  grid-gap: 5px;
  height: 90vh;
  width: 100vw;
  padding: 10px 10px;
  align-items: flex-end;
  position: relative;
}

.BarGraph-bar {
  font-family: 'Fontin SmallCaps';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 75px;
  border-radius: 5px 5px 0 0;
  font-family: Tinos, Serif;
  transition: transform 0.5s, filter 0.5s;
  text-align: bottom;
  color: var(--color-medium);
}
.info {
  display: grid;
  align-items: center;
  grid-template-columns: 1;
  grid-template-rows: auto;
}
.infoline {
  display: flex;

  align-items: center;
  vertical-align: middle;
}
.img {
  vertical-align: middle;
}
.hidden {
  display: hidden;
  visibility: hidden;
}
.BarGraph-bar:nth-child(even){
  background-color: var(--color-bar);
}
.BarGraph-bar:nth-child(odd){
  background-color: var(--color-bar2);
}
.BarGraph-bar:hover {
  filter: brightness(1.25);
  position: relative;
  left: 0;
  width: 200px;
  z-index: 10;
  transition: width 0s;
  transform: translate3d(0px, 0px, 0px);
}
