:root {
  --color-bg: rgba(21, 8, 17, 1);
  --color-barbg: rgba(38, 8, 28, 1);
  --color-light: rgba(12, 186, 186, 1);
  --color-medium: rgba(1, 186, 239, 1);
  --color-dark: #8E518D;
  --color-bar: rgba(56, 0, 54, 1);
  --page-spacing: 10px;
}
html, body {
  margin: 0;
  background-color: var(--color-bg);
  justify-content: center;
  display: flex;

}
.BarGraph {
  display: grid;
  background-color: var(--color-barbg);
  margin-left: var(--page-spacing);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 90vh;
  width: 60vw;
  padding: 10px 10px;
  align-items: flex-end;
}


.BarGraph-bar {
  margin: 0;
  padding: 0;
  grid-row-start: 101;
  grid-row-end: 1;
  border-radius: 5px 5px 0 0;
  font-family: Tinos, Serif;
  background-color: var(--color-bar);
  color: var(--color-vibrant);
}
