@font-face {
    font-family: 'Fontin SmallCaps';
    src: url('Fontin-SmallCaps.woff2') format('woff2'),
        url('Fontin-SmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

